body {
    display: block;
    justify-content: center;
    align-items: flex-start; /* Changé de 'center' à 'flex-start' pour aligner au haut */
    min-height: 100vh;
    margin: 0;
    color: #ffffff;
    background-color: #000000fe;
    padding: 5px;
    padding-top: 5rem; /* Réduit la marge en haut */
    width: 100%;
    height: 100%;
}

.form {
    position: relative;
    display: block;
    padding: 2.2rem;
    width: 80%; /* Définit une largeur spécifique pour le formulaire */
    max-width: none; /* Enlève la limite de la largeur maximale si nécessaire */
    margin: 0 auto; /* Enlève la marge du haut spécifiée et centre horizontalement */
    background: linear-gradient(14deg, rgba(2,0,36, 0.8) 0%, rgba(24, 24, 65, 0.7) 66%, 
              rgb(20, 76, 99) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%, 
              rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
    border: 2px solid #fff;
    -webkit-box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
    box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
    overflow: hidden;
    z-index: +1;
    border-bottom-left-radius: 20px; /* Arrondissez les bords du bas à gauche */
    border-bottom-right-radius: 20px; /* Arrondissez les bords du bas à droite */
    background-color: #300101b9;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-container input {
    outline: none;
    border: 2px solid #ffffff;
    background-color: #fff;
    padding: 6px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 250px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-mail:focus::placeholder {
    opacity: 0;
    transition: opacity .9s;
}

.submit {
    position: relative;
    display: block;
    padding: 8px;
    background-color: #c1e5f5;
    color: #ffffff;
    text-shadow: 2.5px 1.5px 2.5px rgb(0, 0, 0);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 50%;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto; /* Ajouté pour centrer le bouton */
}

.submit:hover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 3.9px;
    background-color: #deeff6;
    color: black;
    text-shadow: 2.5px 1.5px 2.5px rgb(239, 221, 221);
    box-shadow: 4px 3px 17px -4px #ffffff;
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    animation-duration: 1.5s;
    overflow: hidden;
    transition: .12s;
}

.title-2 {
    display: block;
    margin-top: -0.5rem;
    margin-bottom: 50px;
    font-size: 2.1rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-stroke: #fff 0.1rem;
    letter-spacing: 0.2rem;
    color: transparent;
    position: relative;
    text-shadow: 0px 0px 16px #CECECE;
}

.bg-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 
    20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}

.star::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.star:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

.star:nth-child(2) {
    top: 0;
    right: 100px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.star:nth-child(3) {
    top: 0;
    right: 220px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}

.star:nth-child(4) {
    top: 0;
    right: -220px;
    left: initial;
    animation-delay: 1.6s;
    animation-duration: 1.6s;
}
/* Tableau des factures */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #001b34;
    color: white;
}

/* Centre les contenus de certaines cellules */
#vendeur-name, #moment {
    text-align: center;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    label, input[type="number"], input[type="month"], select, button[type="submit"] {
        width: 100%;
    }

    .form-group {
        margin-bottom: 15px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
        width: 100%;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }

    td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-label);
    }
}

.center-text {
    text-align: center;
}